<template>
  <div class="card" aria-id="contentIdForA11y3">
    <div class="card-header" role="button" aria-controls="contentIdForA11y3">
      <p class="card-header-title"><template>Your account</template></p>
    </div>
    <div class="card-content">
      <div class="content">
        <template>
          <!-- <b-input
              placeholder="your pseudo"
              :value="user.name"
              v-model="user.name"
            >
            </b-input> -->
          <b-field label="pseudo">
            <b-input
              :value="user.name"
              placeholder="type here your pseudo"
              maxlength="15"
              v-model="user.name"
            ></b-input>
          </b-field>
        </template>
      </div>
    </div>
    <footer class="card-footer">


        <a class="card-footer-item" v-on:click="saveNewUserName" v-if="user.name != ''">
          <template>Save</template>
        </a>
      

    </footer>
  </div>
</template>

<script>
export default {
  name: "MyAccountComponent",

  props: ["user"],

  data: function() {
    return {};
  },

  mounted() {},

  created() {},

  methods: {
    saveNewUserName() {
      this.$emit("childToParent", this.user);
      this.showSnackbar(`Your name has been changed`);
    },

    showSnackbar(msg) {
      this.$buefy.snackbar.open(msg);
    },
  },
};
</script>

<style scoped></style>
