<template>
  <section>
    <b-tabs>
      <b-tab-item label="Account">
        <section>
          <MyAccountComponent
            :user="defaultUser"
            v-on:childToParent="onChildValueChange"
          ></MyAccountComponent>
        </section>
      </b-tab-item>

      <b-tab-item label="Chat" v-if="defaultUser.name != ''">
        <ChatComponent :user="defaultUser"></ChatComponent>
      </b-tab-item>
    </b-tabs>
  </section>
</template>

<script>
import MyAccountComponent from "./account/MyAccountComponent";
import ChatComponent from "./chat/ChatComponent";

export default {
  name: "IndexComponent",
  props: {
    msg: String,
  },
  components: {
    MyAccountComponent,
    ChatComponent,
  },

  data: function() {
    return {
      defaultUser: {},
      selectedRoom: "",
      room: String,
      pseudo: "",
      socketMessage: "",
      usersConnected: [],
    };
  },

  mounted() {},

  created() {
    this.defaultUser = {
      name: "",
    };
  },

  methods: {

    onChildValueChange(value) {
      this.defaultUser = value
    },
  },
};
</script>

<style scoped></style>
