<template>
  <div>
    <b-navbar>
      <template slot="start">
        <b-navbar-item v-on:click="action = 1">
          Create new room
        </b-navbar-item>
        <b-navbar-item v-on:click="action = 2">
          Join a room
        </b-navbar-item>
        <b-navbar-dropdown label="Chat">
          <b-navbar-item
            v-for="room in rooms"
            :key="room"
            v-on:click="changeRoom(room)"
            >{{ room }}
          </b-navbar-item>
        </b-navbar-dropdown>
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <div class="buttons">
            <a class="button is-success ">
              <strong> {{ user.name }} </strong>
            </a>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

    <NewChatComponent
      v-if="action === 1"
      v-on:newChatToParent="onChildNewChatChange"
    ></NewChatComponent>

    <JoinRoomComponent
      v-if="action === 2"
      v-on:joinRoomToParent="onChildJoinRoomChange"
    >
    </JoinRoomComponent>

    <div class="container is-max-desktop" v-if="action === 3">
      <div id="room-name">{{ choosedRoom }}</div>
      <div class="notification ">
        <div id="messageView">
          <MessageComponent
            v-for="mess in msgByRoom"
            :key="mess.message"
            :user="mess.user"
            :message="mess.message"
          ></MessageComponent>
        </div>
      </div>
      <b-field label="Message" id="textar">
        <b-input
          maxlength="200"
          placeholder="type your message here"
          type="textarea"
          v-model="typedMessage"
        ></b-input>
      </b-field>
      <b-button size="is-small" v-on:click="sendMsg" icon-left="send">
      </b-button>
    </div>
  </div>
</template>

<script>
import MessageComponent from "./MessageComponent";
import NewChatComponent from "./NewChatComponent";
import JoinRoomComponent from "./JoinRoomComponent";

export default {
  name: "ChatComponent",

  props: ["user"],

  data: function() {
    return {
      action: 0,
      rooms: [],
      msg: "",
      choosedRoom: "",
      typedMessage: "",
      messages: [],
      open: false,
    };
  },

  computed: {
    msgByRoom: function() {
      const msgFiltered = this.messages.filter((x) => {
        return x.room === this.choosedRoom;
      });

      console.log("msg filtered : ", msgFiltered);

      return msgFiltered;
    },
  },

  components: {
    MessageComponent,
    NewChatComponent,
    JoinRoomComponent,
  },

  mounted() {},

  created() {
    this.rooms = [];
    this.messages = [];

    // listen web socket to event userConnected
    this.sockets.subscribe("messageIncoming", (data) => {
      this.messages.push(data);
      this.snackbar('New message in '+data.room)
    });
  },

  methods: {
    onChildNewChatChange(room) {
      this.rooms.push(room);
      this.action = 0;
    },

    onChildJoinRoomChange(value) {
      console.log(value);
      this.rooms.push(value);
      this.action = 0;
    },

    snackbar(msg) {
      this.$buefy.snackbar.open(
        msg
      );
    },

    sendMsg() {
      this.$socket.emit(
        "sendMessage",
        this.choosedRoom,
        this.user.name,
        this.typedMessage
      );
      this.messages.push({
        message: this.typedMessage,
        room: this.choosedRoom,
        user: this.user.name,
      });
      this.typedMessage = "";

      console.log(this.messages);
      console.log(this.msgByRoom);
    },

    changeRoom(room) {
      console.log(this.msgByRoom);
      this.choosedRoom = room;
      this.$socket.emit("joinChat", this.choosedRoom, this.user.name);
      this.action = 3;
    },
  },
};
</script>

<style scoped>
#textar {
  flex: 1;
}

#room-name {
  font-weight: bold;
  font-size: 1.8em;
}

#messageView {
  height: 200px;
  overflow-y: auto;
}

.p-1-2 {
  width: 100%;
  padding: 1em;
}

.sidebar-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.sidebar-page .sidebar-layout {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

@media screen and (max-width: 1023px) {
  .b-sidebar
    .sidebar-content.is-mini-mobile:not(.is-mini-expand)
    .menu-list
    li
    a
    span:nth-child(2),
  .b-sidebar
    .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover)
    .menu-list
    li
    a
    span:nth-child(2) {
    display: none;
  }
  .b-sidebar
    .sidebar-content.is-mini-mobile:not(.is-mini-expand)
    .menu-list
    li
    ul,
  .b-sidebar
    .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover)
    .menu-list
    li
    ul {
    padding-left: 0;
  }
  .b-sidebar
    .sidebar-content.is-mini-mobile:not(.is-mini-expand)
    .menu-list
    li
    ul
    li
    a,
  .b-sidebar
    .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover)
    .menu-list
    li
    ul
    li
    a {
    display: inline-block;
  }
  .b-sidebar
    .sidebar-content.is-mini-mobile:not(.is-mini-expand)
    .menu-label:not(:last-child),
  .b-sidebar
    .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover)
    .menu-label:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .b-sidebar
    .sidebar-content.is-mini:not(.is-mini-expand)
    .menu-list
    li
    a
    span:nth-child(2),
  .b-sidebar
    .sidebar-content.is-mini.is-mini-expand:not(:hover)
    .menu-list
    li
    a
    span:nth-child(2) {
    display: none;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-list li ul,
  .b-sidebar
    .sidebar-content.is-mini.is-mini-expand:not(:hover)
    .menu-list
    li
    ul {
    padding-left: 0;
  }
  .b-sidebar
    .sidebar-content.is-mini:not(.is-mini-expand)
    .menu-list
    li
    ul
    li
    a,
  .b-sidebar
    .sidebar-content.is-mini.is-mini-expand:not(:hover)
    .menu-list
    li
    ul
    li
    a {
    display: inline-block;
  }
  .b-sidebar
    .sidebar-content.is-mini:not(.is-mini-expand)
    .menu-label:not(:last-child),
  .b-sidebar
    .sidebar-content.is-mini.is-mini-expand:not(:hover)
    .menu-label:not(:last-child) {
    margin-bottom: 0;
  }
}
</style>
