<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Join a room 
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <b-field label="chat room name :">
          <b-input placeholder="room name" v-model="roomName"></b-input>
        </b-field>
        <br />
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" v-on:click="JoinRoom">Join</a>
    </footer>
  </div>
</template>

<script>
export default {
  name: "JoinRoomComponent",

  data: function() {
    return {
      roomName: "",
    };
  },

  components: {},

  mounted() {},

  created() {},

  methods: {
    JoinRoom() {
      this.$emit("joinRoomToParent", this.roomName);
      this.showSnackbar(`You have joined this room`);
    },

    showSnackbar(msg) {
      this.$buefy.snackbar.open(msg);
    },

  },
};
</script>

<style scoped>
</style>
