<template>
  <section>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <b-image
            :src="require('../../assets/avatar.png')"
            alt="Avatar logo"
            :rounded="true"
            width="64px"
            height="64px"
          ></b-image>
          <!-- <b-skeleton circle ></b-skeleton> -->
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p id="msg">
            {{user}} <br />
            {{message}}
          </p>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
export default {
  name: "MessageComponent",

  props: ["user","message"],

  data: function() {
    return {};
  },

  mounted() {},

  created() {},

  methods: {},
};
</script>

<style scoped>
#id {
  width: 25%;
  word-break: break-word;
}
</style>
