<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        New room creation
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <b-field label="chat room name :">
          <b-input placeholder="room name" v-model="roomName"></b-input>
        </b-field>
        <br />
        <div id="or"><h3>or</h3></div>
        <br />
        <section id="generate">
          <b-button @click="generateRoom">Generate a random room</b-button>
        </section>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" v-on:click="saveRoomName">Save</a>
    </footer>
  </div>
</template>

<script>
export default {
  name: "NewChatComponent",

  data: function() {
    return {
      roomName: "",
    };
  },

  components: {},

  mounted() {},

  created() {},

  methods: {
    saveRoomName() {
      this.$emit("newChatToParent", this.roomName);
      this.showSnackbar(`Room has been created`);
    },

    showSnackbar(msg) {
      this.$buefy.snackbar.open(msg);
    },

    generateRoom() {
      this.axios
        .get(process.env.VUE_APP_SOCKET_API + "/api/room")
        .then((response) => (this.roomName = response.data.selectedRoom));
    },
  },
};
</script>

<style scoped>
#generate {
  text-align: center;
}
#or {
  text-align: center;
}
</style>
