<template>
  <div>
    <IndexComponent></IndexComponent>
  </div>
  <!-- <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <IndexComponent></IndexComponent>
  </div> -->
</template>

<script>
import IndexComponent from './components/IndexComponent'

export default {
  name: 'App',
  components: {
    
    
    IndexComponent
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
